@tailwind base;
@tailwind components;
@tailwind utilities;

.compass-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.compass {
  margin-top: 10px;
}

